{% extends "base.html" %}

{% block page_title %}
	Article
{% endblock page_title %}


{% block contents %}


<div class="row">
	<div class="col-md-8">
		<h2 class="border-bottom">Category: {{category}}</h2>
		{% for article in article_list %}
		<h3><a class="text-dark" href="{% url 'article:detail' article.slug %}">{{article.title}}</a></h3>
		<p>{{article.published}}</p>
		<p class="border-bottom">{{article.body|truncatewords:50}} <a href="{% url 'article:detail' article.slug %}">More</a></p>
	{% endfor %}
		{% if is_paginated %}

			<nav aria-label="articlePage">
			  <ul class="pagination">
			    
			    {% if page_obj.has_previous %}
			    	<li class="page-item">
				      <a class="page-link" href="{% url 'article:category' category page_obj.previous_page_number%}">Previous</a>
				    </li>
				{% else %}
					<li class="page-item disabled">
				      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
				    </li>
			    {% endif %}
			    
			    {% for page in paginator.page_range %}
			    	{% if page is page_obj.number %}
			    	<li class="page-item active" aria-current="page">
			    		<span class="page-link" href="#">{{page}}<span class="sr-only"></span></span>
			    	</li>
			    	{% else %}
			    	<li class="page-item">
			    		<a class="page-link" href="{% url 'article:category' category page %}">{{page}}</a>
			    	</li>
			    	{% endif %}
			    {% endfor %}
			    
			    {% if page_obj.has_next %}
			    	<li class="page-item">
				      <a class="page-link" href="{% url 'article:category' category page_obj.next_page_number%}">Next</a>
				    </li>
				{% else %}
					<li class="page-item disabled">
				      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
				    </li>
			    {% endif %}

			  </ul>
			</nav>

			{% endif %}


	</div>
	<div class="col-sm">
		<h3>More Category</h3>
		<ul class="list-group list-group-flush">
			<li class="list-group-item"><a href="{% url 'article:list' 1 %}"><b>All Category</b></a></li>
		  	{% for category in category_list %}
		  		<li class="list-group-item"><a href="{% url 'article:category' category 1%}">{{category}}</a></li>
		  	{% endfor %}
		</ul>
	</div>

</div>


{% endblock contents %}