{% extends "base.html" %}

{% block page_title %}
	{{article.title}}
{% endblock page_title %}

{% block contents %}
<div class="row ">
	<div class="col-md-8 ">
		<h1>{{article.title}}</h1>
		<h5>Category: {{article.category}} | {{article.published}}</h5>
		<p>{{article.body |linebreaksbr }}</p>	
	</div>
	<div class="col-sm">
		<h3>Category</h3>
		<ul class="list-group list-group-flush">
		  	{% for category in category_list %}
		  		<li class="list-group-item"><a href="{% url 'article:category' category 1%}">{{category}}</a></li>
		  	{% endfor %}
		</ul>
		<h3>Similiar Article</h3>

		<ul class="list-group list-group-flush">
		  	{% for article in similiar_article %}
		  		
		  		{% if forloop.counter is not 3 %}
		  		<li class="list-group-item">
		  			<h5><a href="{% url 'article:detail' article.slug%}">{{article.title}}</a></h5>
		  			<p>{{article.published|date}}</p>
		  		</li>
		  		{% endif %}

		  	{% endfor %}
		  	<li class="list-group-item"><a href="{% url 'article:category' article.category 1%}">More</a></li>
		</ul>

	</div>
</div>
	
{% endblock contents %}