{% load static %}

<footer class="text-center text-lg-start footer bg-success bg-gradient mt-5">

    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <div class="container-fluid text-center text-sm-start">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-sm-4 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <p class="text-light">
                Barokah dev is a group of people who form a team to find a path of blessing
            </p>
            <div class="row text-md-left">
                <div class="col-12 mb-2">
                  <p class="text-md-left"> Follow Us</p>
                  <a href="https://www.facebook.com/MuhammadRezaPutra" rel="noreferrer" target="_blank" data-cy="facebook-icon"><img src="{% static 'img/icon/fb.svg' %}" alt="facebook" loading="lazy">&nbsp;</a>
                  <a href="https://www.instagram.com/abangmu/" rel="noreferrer" target="_blank" data-cy="instagram-icon"><img src="{% static 'img/icon/ig.svg' %}" alt="Instagram" loading="lazy">&nbsp;</a>
                  <a href="https://twitter.com" rel="noreferrer" target="_blank" data-cy="twitter-icon"><img src="{% static 'img/icon/tw.svg' %}" alt="Twitter" loading="lazy">&nbsp;</a>

                 </div>
                         
           </div>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-sm-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4 text-light">
              Sitemaps
            </h6>

            <p>
              <a href="#" class="nav-link ">About</a>
            </p>
            <p>
              <a href="#" class="nav-link">Privacy Policy</a>
            </p>
            <p>
              <a href="#" class="nav-link">FAQ</a>
            </p>
            <p>
              <a href="#" class="nav-link">Terms and Conditions</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      <div class="row">
            <div class="col-sm-4">
                
            </div>
            <div class="col-sm-4">
                  <span class="text-light"><script>document.write(new Date().getFullYear())</script>  © Barokah Dev.</span>
            </div>
            <div class="col-sm-4">
                <div class="text-sm-end d-none d-sm-block">
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright -->
  </footer>